.navbar {
    background-color: #4B6653 !important;
    color: white !important;
}

.jumbotron { 
    background-image: url("/assets/images/computer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 10px;
}

.article {
    background-color: #4B6653;
    color: white;
    padding: 5px 10px;
    margin: 0px 0px 10px 0px;
}

p {
    margin-bottom: 0px;
    color: lightgrey;
}

#modalBody {
    color: #656466;
}

button {
    margin-left: 10px;
}

.articleLink, .articleLink:hover {
    color: lightgrey;
    text-decoration: underline;
}
  
.borderOn {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #656466;
    padding: 20px;
}

a:hover {
    font-weight: bolder;
}

.deletenote{
    cursor: pointer;
}